/**
 * @author NotKeithRichards
 *
 * Nothing is super organized yet, though I will incrementally
 * organizing css rules according to 'smaccs' guidelines
 * @see https://smacss.com/
 *
 * When writing rules for a given selector, try to order them according
 * to the following priority:
 * 1. display
 * 2. position
 * 3. width
 * 4. height
 * 5. margin
 * 6. border (color, radius, style, etc.)
 * 7. padding * 8. background-color
 * 9. color
 */

:root {
    --border-radius-default: 3px;

    --box-shadow-default: 1px 4px 7px var(--gray-90);

    --transition-default: 0.3s ease-out;

    /* primary color scheme */
    --primary-color:   #6133FF;
    --primary-color-border:   rgb(124, 85, 255);
    --secondary-color: #23FFDA;
    --tertiary-color: #FF8B45;

    /* easy colors */
    --white  : hsl(0, 0%, 100%);
    --gray-10: hsl(0, 0%, 90%);
    --gray-20: hsl(0, 0%, 80%);
    --gray-30: hsl(0, 0%, 70%);
    --gray-40: hsl(0, 0%, 60%);
    --gray-50: hsl(0, 0%, 50%);
    --gray-60: hsl(0, 0%, 40%);
    --gray-70: hsl(0, 0%, 30%);
    --gray-80: hsl(0, 0%, 20%);
    --gray-90: hsl(0, 0%, 10%);
    --black  : hsl(0, 0%, 0%);
}

/* Base
 * @see https://smacss.com/book/type-base
 */

html {
    font-family: sans-serif;
}

html * {
    box-sizing: border-box;

    /* should REMOVE this */
    -webkit-tap-highlight-color: hsla(0, 0%, 100%, 0);
}


/* Typography */

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6
p {
    color: var(--gray-90);
}

p, button, span {
    font-size: 1em;
}

button {
    border: none;
    border-radius: var(--border-radius-default);
    line-height: 1.3em;
    padding: 1em 0.8em;
    background-color: var(--gray-80);
    outline-color: hsla(0, 0%, 30%, 0.5);
    color: var(--white);
    cursor: pointer;
}

button.primary {
    background-color: #6133FF;
    outline-color: #8F6EFF;
}

button.secondary {
    background-color: #23FFDA;
}

button.tertiary {
    background-color: #FF8B45;
}

a {
    color: rgb(85, 110, 255);
    text-decoration: none;
    transition: color 0.2s ease-in;
}

a:hover {
    color: rgb(56, 83, 238);
}

/* Taken from typo-scale.com (major third) */

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small, .font-small {font-size: 0.8em;}

/* END: typo-scale.com */


/* Layout
 * @see https://smacss.com/book/type-layout
 */
.layout-container {
    padding: 0 1em;
}


/* Modules
 * @see https://smacss.com/book/type-module
 */

/* Modal
 */

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.7);
    overflow: hidden;
}

.modal.is-hidden {
    display: none;
}

.modal-content {
    width: 100%;
    min-height: 100%;
    padding: 1em;
    box-shadow: var(--box-shadow-default);
    background-color: var(--white);
    transition: opacity 0.2s linear, margin-top 0.4s ease-in-out;
}

.modal.is-faded .modal-content {
    opacity: 0;
    margin-top: -5em;
    transition: opacity 0.2s linear, margin-top 0.4s ease-in-out;
}

.modal-close {
    float: right;
    cursor: pointer;
    user-select: none;
    color: var(--gray-30);
}

.modal-close:hover {
    color: var(--black);
}

.modal-close:active {
    color: var(--gray-50);
}

.modal-title {
    padding-bottom: 0.333em;
}

h1.modal-title {
    border-bottom: 1px solid var(--gray-20);
}

@media screen and (min-width: 600px) {
    .modal-content {
        width: calc(100% - 3em);
        min-height: 300px;
        border-radius: var(--border-radius-default);
    }
}
@media screen and (min-width: 800px) {
    .modal-content {
        width: 600px;
    }
}

/* Gallery
 */

[role="gallery"] {
    background-color: hsl(0, 0%, 97%);
    overflow: auto;
}

.gallery-wrapper {
    min-height: 300px;
    width: 100%;
}

.gallery-column.is-active {
    display: block;
}

/* gallery column */

.gallery-column {
    display: none;
    float: left;
    padding: 3px;
    width: 100%;
    max-width: 50%;
}

@media screen and (min-width: 450px) {
    .gallery-column {
        max-width: 33.3333%;
    }
}
@media screen and (min-width: 750px) {
    .gallery-column {
        max-width: 25%;
    }
}

/* gallery item */

.gallery-item {
    padding: 0.3333em;
    max-width: 100%;
    margin-bottom: 10px;
    background-color: var(--white);
    box-shadow: 0 2px 3px -1px hsl(0, 0%, 10%, 0.13);
}

.gi-img {
    position: relative;
    overflow: hidden;
    height: auto;
    max-height: 450px;
    cursor: pointer;
}

.gi-img img {
    width: 100%;
}

.gi-content {
    padding-bottom: 0.5em;
}

.gi-content span.tag {
    background: rgb(97,51,255);
    background: linear-gradient(139deg, rgba(97,51,255,1) 0%, rgba(128,91,255,1) 100%);
    color: var(--white);
    border-radius: 7px;
    margin-right: 6px;
    padding: 5px;
    letter-spacing: 2px;
    font-weight: 200;
    border: 2px solid rgb(98, 51, 253);
    box-shadow: 1px 2px 2px hsl(0, 0%, 10%, 0.2);
    cursor: pointer;
}

.gi-content span.tag:hover {
    box-shadow: 1px 2px 2px hsl(0, 0%, 0%, 0.3);
}

/* gallery popup */

.gallery-popup {
    z-index: 1;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: white;
}

.gallery-popup.is-hidden {
    display: none;
}

.gp-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-height: 80%;
    overflow: hidden;
}

.gp-content .gp-img-wrap {
    text-align: center;
    height: auto;
    width: 100%;
    overflow: auto;
    background-color: hsl(0, 0%, 95%);
}

.gp-content .controls {
    background-color: #8F6EFF;
    padding: 1em 0.5em;
    text-align: center;
    border-radius: 0 0 3px 3px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 -2px 3px -1px hsl(0, 0%, 10%, 0.13);
}

.gp-content .controls a {
    color: hsl(0, 0%, 100%, 0.85);
    font-weight: 200;
}


.no-scroll {
    overflow: hidden;
}

/* Special form elements
 */

.multi-select {
    position: relative;
    padding: 0.5em;
    width: 100%;
}
.ms-tag-bar {
    overflow-x: scroll;
    max-height: 50px;
}

.ms-tags {
    display: flex;
    flex-wrap: nowrap;
}

.tag {
    color: hsla(0, 0%, 100%, 0.95);
    display: inline-block;
    padding: 0.5em 0.8em 0.5em 0.7em;
    font-weight: 200;
    font-size: 1em;
    margin-right: 8px;
    margin-bottom: 0.3em;
    border-radius: 5px;
    background-color: rgb(95, 205, 241);
    /* background: linear-gradient(105deg, rgba(62,168,203,1) 0%, rgba(97,194,226,1) 100%); */
    border: 2px solid rgba(97,194,226,1);
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.2);
    flex-shrink: 0;
}

.tag .x {
    cursor: pointer;
    display: inline-block;
    height: 14px;
    width: 14px;
    background-color: hsla(0, 0%, 100%, 0.5);
    color: hsla(0, 0%, 0%, 0.5);
    text-align: center;
    margin-right: 0.6em;
    font-size: 0.75em;
    border-radius: 50%;
    font-weight: 400;
    line-height: 12px;
    vertical-align: middle;
}

.tag.empty {
    float: left;
    visibility: hidden;
    width: 0px;
    padding: 0;
    padding: 0.5em 0;
    overflow: hidden;
    margin-right: 0px;
    border: 2px solid white;
    border-right: none;
    border-left: none;
}

input[type="text"].ms-text {
    border: none;
    outline: none;
    display: block;
    width: 100%;
    font-size: 1em;
    --webkit-appearance: none;
    border: 1px solid hsl(0, 0%, 20%);
    border-radius: 3px;
    padding: 0.5em 0.8em 0.5em 0.3em;
}

.ms-options {
    position: absolute;
    top: 100%;
    border-radius: 2px;
    background-color: hsl(0, 0%, 10%);
    padding: 0.333em 0.12em;
    width: calc(100% - 1em);
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.ms-options.is-hidden {
    display: none;
}

.ms-options ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
}

.ms-options ul li {
    cursor: pointer;
    padding: 0.5em 0.25em;
    border-bottom: 1px solid hsl(0, 0%, 80%);
    color: hls(0, 0%, 10%);
}

.ms-options ul li:hover {
    background-color: #f6f6fa;
}