/**
 * @author NotKeithRichards
 *
 * Nothing is super organized yet, though I will incrementally
 * organizing css rules according to 'smaccs' guidelines
 * @see https://smacss.com/
 *
 * When writing rules for a given selector, try to order them according
 * to the following priority:
 * 1. display
 * 2. position
 * 3. width
 * 4. height
 * 5. margin
 * 6. border (color, radius, style, etc.)
 * 7. padding * 8. background-color
 * 9. color
 */

:root {
    --border-radius-default: 3px;

    --box-shadow-default: 1px 4px 7px var(--gray-90);

    --transition-default: 0.3s ease-out;

    /* primary color scheme */
    --primary-color:   #6133FF;
    --secondary-color: #23FFDA;
    --tertiary-color: #FF8B45;

    /* easy colors */
    --white  : hsl(0, 0%, 100%);
    --gray-10: hsl(0, 0%, 90%);
    --gray-20: hsl(0, 0%, 80%);
    --gray-30: hsl(0, 0%, 70%);
    --gray-40: hsl(0, 0%, 60%);
    --gray-50: hsl(0, 0%, 50%);
    --gray-60: hsl(0, 0%, 40%);
    --gray-70: hsl(0, 0%, 30%);
    --gray-80: hsl(0, 0%, 20%);
    --gray-90: hsl(0, 0%, 10%);
    --black  : hsl(0, 0%, 0%);
}

/* Base
 * @see https://smacss.com/book/type-base
 */

html {
    font-family: sans-serif;
}

html * {
    box-sizing: border-box;

    /* should REMOVE this */
    -webkit-tap-highlight-color: hsla(0, 0%, 100%, 0);
}


/* Typography */

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6
p {
    color: var(--gray-90);
}

p, button, span {
    font-size: 1em;
}

button {
    border: none;
    border-radius: var(--border-radius-default);
    line-height: 1.3em;
    padding: 1em 0.8em;
    background-color: var(--gray-80);
    outline-color: hsla(0, 0%, 30%, 0.5);
    color: var(--white);
    cursor: pointer;
}

button.primary {
    background-color: #6133FF;
    outline-color: #8F6EFF;
}

button.secondary {
    background-color: #23FFDA;
}

button.tertiary {
    background-color: #FF8B45;
}

/* Taken from typo-scale.com (major third) */

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}

/* END: typo-scale.com */


/* Layout
 * @see https://smacss.com/book/type-layout
 */
.layout-container {
    padding: 0 1em;
}


/* Modules
 * @see https://smacss.com/book/type-module
 */

/* Modal
 */

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.7);
    overflow: hidden;
}

.modal.is-hidden {
    display: none;
}

.modal-content {
    width: 100%;
    min-height: 100%;
    padding: 1em;
    box-shadow: var(--box-shadow-default);
    background-color: var(--white);
    transition: opacity 0.2s linear, margin-top 0.4s ease-in-out;
}

.modal.is-faded .modal-content {
    opacity: 0;
    margin-top: -5em;
    transition: opacity 0.2s linear, margin-top 0.4s ease-in-out;
}

.modal-close {
    float: right;
    cursor: pointer;
    user-select: none;
    color: var(--gray-30);
}

.modal-close:hover {
    color: var(--black);
}

.modal-close:active {
    color: var(--gray-50);
}

.modal-title {
    padding-bottom: 0.333em;
}

h1.modal-title {
    border-bottom: 1px solid var(--gray-20);
}

@media screen and (min-width: 600px) {
    .modal-content {
        width: calc(100% - 3em);
        min-height: 300px;
        border-radius: var(--border-radius-default);
    }
}
@media screen and (min-width: 800px) {
    .modal-content {
        width: 600px;
    }
}

/* Gallery
 */

[role="gallery"] {
    display: flex;
    justify-content: flex-start;
}

.gallery-wrapper {
    display: flex;
    min-height: 300px;
    width: 100%;
}

.gallery-column.is-active {
    display: block;
    flex-grow: 1;
}

.gallery-column {
    display: none;
}

.gallery-item {
    display: block;
    padding: 0.3em;
    background-color: hsl(0, 0%, 95%);
}

.gi-img {
    position: relative;
    overflow: hidden;
}

.gi-img-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 100%, 0.1);
    transition: opacity 0.2s ease-in-out;
}

.gallery-item.is-focused .gi-img-overlay {
    opacity: 0;
}

.gi-img img {
    width: 100%;
}



